<div class="container">
  <form class="login">
    <div class="form-group">
      <label for="login">Login</label>
      <input class="form-control input-lg" name="login" id="login" placeholder="login" [(ngModel)]="username" />
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input class="form-control input-lg" type="password" name="password" placeholder="senha" id="password" [(ngModel)]="password"/>
    </div>
    <div class="form-group">
      <button (click)=checkLogin() class="btn btn-success">
        Entrar
      </button>
    </div>
  </form>
</div>
