<div class="col-md-auto col-sm-auto col-lg-auto">
  <h2 class="text-center">Atribuir responsável</h2>
  <form>

    <div class="form-group">
      <label for="id">Código:</label>
      <input [(ngModel)]="processo.id" placeholder="id" name="id" class="form-control" id="id" disabled>
    </div>

    <div class="form-group">
      <label for="nome">Nome:</label>
      <input [(ngModel)]="processo.nome" placeholder="Nome" name="nome" class="form-control" id="nome" disabled>
    </div>

    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <textarea [(ngModel)]="processo.descricao" placeholder="descricao" name="descricao" class="form-control" id="descricao" disabled></textarea>
    </div>
    <div >
      <table class="table table-striped">
        <thead></thead>
        <tr>
          <th>Código</th>
          <th>Login</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Tipo Usuário</th>
          <th>Data de Cadastro</th>
          <th>Ações</th>
        </tr>

        <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.id}}</td>
          <td>{{usuario.login}}</td>
          <td>{{usuario.nome}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.tipoUsuario}}</td>
          <td>{{formatarData(usuario.dataInclusao)}}</td>
          <td>
            <button class="btn btn-danger" (click)="atribuirUsuario(usuario)"> Atribuir ao processo </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </form>
</div>
