<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark col-md-auto col-lg-auto col-sm-auto">
    <div class="navbar-brand">Processos</div>

    <ul class="navbar-nav">
      <li><a  routerLink="/" class="nav-link">Usuários</a></li>
      <li><a  routerLink="/addUsuario" class="nav-link">Adicionar usuário</a></li>
      <li><a  routerLink="/processos" class="nav-link">Processos</a></li>
      <li><a  routerLink="/addProcessos" class="nav-link">Criar processo</a></li>

    </ul>

  </nav>

</header>
